/* Modified styling by Zoe Rooney http://zoerooney.com */
/* reset */
ul.ft-menu,
ul.ft-menu * { 
	margin: 0; 
	border: 0; 
	padding: 0;
	line-height: 1;
	position: relative;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;	
	font-size: 0.75rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	color: #f17a5d;
}


ul.ft-menu { 
	list-style: none;
}

ul.ft-menu > li.ft-field { 
	display: inline-block;
	width: 16.66667%;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	float: left;
	background: none !important;
	position: relative !important;
}
@media screen and (max-width: 885px) {
	ul.ft-menu > li.ft-field { 
		width: 33.33333%;
		margin-right:0 ;
	}
}

ul.ft-menu > li.ft-field:last-of-type {
	margin-right: 0;
}
ul.ft-menu > li.ft-field > span.ft-label { 
	display: block;
	cursor: pointer;
	width: 100%;
	height: 70px;
	text-align: center;
	font-weight: 400;
	font-size: 1rem;
	line-height: 70px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.07rem;
	background: url(../images/icon-arrowdown.png) center 55px no-repeat;
	background-size: 7px 7px;
	background-color: #fac8ba;
}

/*
ul.ft-menu > li.ft-field > span.ft-label:after { 
    font-family: FontAwesome;
    font-size: 90%; 
    content:"\f0dd";
    padding:0 5px;
    position: relative;
    bottom: 1px;
    float: right;
    color: #f17a5d;
}
*/

ul.ft-menu > li.ft-field > span.ft-label.ft-active { 
    color: #f17a5d; 
		font-weight: 700;
}

ul.ft-menu > li.ft-field > span.ft-label:hover {
	background-color: #f17a5d;
	color: #fff;
}

ul.ft-menu > li.ft-field > span.ft-label.ft-opened:after { 
    xcontent:"\f0de";
    bottom: -3px;
}

ul.ft-menu > li.ft-field > div.ft-panel { 
	position: absolute; 
	min-width: 200px; 
	background-clip: padding-box;
	border: 5px solid #ddd;
	border: 5px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	top: 100%;
	margin-top: 15px;
	left: 50%;
	margin-left: -105px;
	z-index: 9999;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
ul.ft-menu > li.ft-field > div.ft-panel:before,
ul.ft-menu > li.ft-field > div.ft-panel:after {
	position: absolute;
	content: " ";
	height: 0;
	width: 0;
	left: 50%;
}
ul.ft-menu > li.ft-field > div.ft-panel:before {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ddd;
	border-bottom: 10px solid rgba(0, 0, 0, 0.3);
	top: -15px;
	margin-left: -10px;
}
ul.ft-menu > li.ft-field > div.ft-panel:after {
	content: " ";
	height: 0;
	width: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #eee;
	top: -8px;
	margin-left: -8px;
}

ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-selected {
	padding: 5px 10px;
	background: #eee;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-selected > li {
	font-size: 10px;
	display: inline-block;
	*display: inline; 
	*zoom: 1;
	margin: 1px;
	cursor: pointer;
	padding: 1px 5px 2px 5px;
	color: #555;
	border: 1px solid #555;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-selected > li:after {
	font-family: FontAwesome;
	content:" \f00d";
	color: #555;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-selected > li:active {
	background: #f17a5d;
}

ul.ft-menu > li.ft-field > div.ft-panel > fieldset.ft-search { 
	padding: 10px;
	background: #eee;
}
ul.ft-menu > li.ft-field > div.ft-panel > fieldset.ft-search:before {
	font-family: "FontAwesome";
	content:"\f002";
	position: absolute;
    width: 20px;
	bottom: 17px;
	left: 18px;
	color: #BBB;
	text-shadow: none;
	z-index: 1;
}
ul.ft-menu > li.ft-field > div.ft-panel > fieldset.ft-search > input { 
	outline: none;
	display: block;
	width: 140px;
	padding: 6px 10px 3px 25px !important; 
	color: gray;
	background: white;
}

ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags { 
	position: relative !important; 
	max-height: 200px !important; 
	border-top: 1px solid #ddd;
	overflow-x: hidden; 
	overflow-y: auto; 
	width: 100%;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags > li { 
    background: white;
	display: block;
	border-bottom: 1px solid #ddd;
	display: block;
	padding: 8px 35px 8px 15px;
	cursor: pointer;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags > li:after { 
	content: attr(data-count);
    font-size: 11px;
    font-weight: normal;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -9px;
	padding: 3px 6px;
	color: #fff;;
	background: #f17a5d;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags > li.ft-highlight { 
	border-bottom: 1px solid #fee3e8;
	background: #fbded6;
}

ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags > li.ft-highlight:after {
	background: #f17a5d;
}

ul.ft-menu > li.ft-field > div.ft-panel > div.ft-mismatch {
	padding: 10px 15px;
	color: white;
	background: #555555;
}

/* REQUIRED! */
.ft-hidden { display: none !important; }


/* Custom webkit scrollbars */
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags::-webkit-scrollbar {
    width: 10px;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    background: #DDD;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags::-webkit-scrollbar-thumb {
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    background: #EEE;
}

